.modal-enter {
    opacity: 0;
    transform: scale(0);
    background-color: rgba(0,0,0,0.1);
    
  }
  .modal-enter-active {
      background-color: rgba(0, 0, 0, 0.4);
      opacity: 1;
      transform: scale(1);
      transition:
          transform 300ms,
          opacity 300ms,
          background-color 300ms;
  }
  .modal-exit {
    opacity: 1;
    transform: scale(1);
  }
  .modal-exit-active {
    opacity: 0;
    transform: scale(0);
    transition: transform 300ms, opacity 300ms;
  }