@using BookingSystem.Infrastructure.Models
@model BookingSystem.WEB.Models.ChangePasswordModel
@using Microsoft.AspNetCore.Identity
@using BookingSystem.WEB.Models
@{
    Layout = "~/Views/Shared/_ResetPageLayout .cshtml";
}

<div class="col-md-4 offset-2">
    <section>
        <h4>Please, enter a new psssword</h4>
        <hr />
        <p>@ViewBag.name</p>

        <form 
            asp-action="SetNewPasswordWithToken" asp-controller="Account" asp-antiforgery="true" >
    <div>
        <div>
                    <label asp-for="NewPassword"></label>
                    <div>
                        <input type="password"
                               asp-for="NewPassword"
                               pattern="^(?=.*[A-Za-z])(?=.*\d)[A-Za-z\d]{8,}$"
                               title="Password must contains minimum eight characters, at least one letter and one number" />
                    </div>
        </div>
        <div>
                    <label asp-for="Email"></label>
                    <div>
                        <input asp-for="Email"
                               type="email"
                               value=@ViewBag.email
                               readonly />
                    </div>
        </div>
        
        
        <div>
            <input type="submit" value="Save" />
        </div>
    </div>
</form>

       
    </section>
</div>