/* table{
    border: 1px, solid,black;
    border-collapse: collapse;
    padding: 0 20px;
} */

/* .mainContentBlock {
    margin-top: 70px;
    position: relative; 
    top: 100px; 
    overflow:auto;  
    height: 91vh;
} */

/* .flexblock1{
    display: flex;
    flex-flow: row wrap;
    margin-top: 140px;
    background-color: rgba(87, 169, 252, 0.822);    
} */
/* .mainFilterPanel{
    position: fixed;
    margin-top: 5vh;

} */
/* .mainContentBlock :first-child{
    position: fixed;
    margin-top: 10vh;
} */